   <script src="node_modules/chart.js/src/chart.js"></script>
<div class="container lg-col-12 md-col-8 sm-col-6">
    <h3>What is Bouldering?</h3>
    <div class="col-8 mainContent">
        <div>
            <p>Bouldering is rock climbing in its purest form. Climbers forgo the usage of ropes and harnesses, carrying with them a pair of climbing shoes and a bag of chalk.
                The challenge is the climber versus the route or "problem", urging the climber to use all their strength, balance, and mental strength to finish the problem. 
                Bouldering does not require a lot of expensive gear and with the popularity of climbing gyms increasing new climbers are getting involved more frequently.
                Whether the climber is outside or in a gym, a margin of safety is applied through the usage of padded floor or "crash pads"(when bouldering outside). Find some friends,
                and put some chalk to hands. 
            </p>
        </div>
        <br />    
        <h3>Bouldering Trends</h3>
        <trend-chartarea>Loading Chart...</trend-chartarea>
        <br />   
        <h3>Gyms Near Pittsburgh</h3>
        <p><a href="https://www.ascendpgh.com/" target="_blank">Ascend Pittsburgh</a></p>
        <p><a href="http://www.theclimbingwall.net/theclimbingwall/Welcome.html" target="_blank">The Climbing Wall</a></p>
    </div>
</div>